In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import datetime
import seaborn as sns

In [40]:
DATA_FOLDER = 'data'
FIG_FOLDER = 'fig'

os.makedirs(FIG_FOLDER, exist_ok=True)

data_file = os.path.join(DATA_FOLDER, 'stageinfamilycycle.csv')
df = pd.read_csv(data_file, sep=";")

print(df.head())

                         Activity  \
0  02     Travel to and from work
1  02     Travel to and from work
2  02     Travel to and from work
3  02     Travel to and from work
4  02     Travel to and from work

                               Stage in family cycle Men 1987-1988  \
0  Aged under 45, single, no children, living wit...          0.10
1  Aged under 45, single, no children, living els...          0.21
2                                      Single parent             .
3  Aged under 45, married or cohabiting, no children          0.24
4     Married or cohabiting, youngest child aged 0-6          0.26

  Men 1999-2000 Men 2009-2010  Women 1987-1988  Women 1999-2000  \
0          0.06          0.04             0.07             0.04
1          0.20          0.17             0.21             0.17
2             .             .             0.19             0.16
3          0.21          0.21             0.25             0.20
4          0.23          0.26             0.11             0.13

   Women 2009-2010
0             0.04
1             0.16
2             0.17
3             0.20
4             0.14

In [41]:
print(df.columns)

Index(['Activity', 'Stage in family cycle', 'Men 1987-1988', 'Men 1999-2000',
       'Men 2009-2010', 'Women 1987-1988', 'Women 1999-2000',
       'Women 2009-2010'],
      dtype='object')

In [42]:
print(df.index)

RangeIndex(start=0, stop=8, step=1)

In [43]:
df = df.drop("Activity")

KeyError: "['Activity'] not found in axis"

In [36]:
df = df.melt()

print(df.head())

   variable                           value
0  Activity  02     Travel to and from work
1  Activity  02     Travel to and from work
2  Activity  02     Travel to and from work
3  Activity  02     Travel to and from work
4  Activity  02     Travel to and from work

In [37]:
row_list = []
for i, row in df.iterrows():
        print(f'{row["variable"]} XXXX {row["value"]}')
    
#     # Extract gender and year from label
#     _, _, _, _, gender, year = row["variable"].split(" ")
    
#     # Convert ugly string into a number of minutes
#     str_value = str(row["value"])
#     h, m = str_value.split(".")
#     time = int(h) * 60 + int(m)
    
#     # Add new row to the list (as a dictionary)
#     row_list.append(
#         {"year": year, "gender": gender, "time (in minutes)": time}
#     )

# # Create new dataframe

# clean_df = pd.DataFrame(row_list)
# clean_df.to_csv(os.path.join(DATA_FOLDER, "clean_stageinfamilycycle.csv"), index=False)
# print(clean_df)

Activity XXXX 02     Travel to and from work
Activity XXXX 02     Travel to and from work
Activity XXXX 02     Travel to and from work
Activity XXXX 02     Travel to and from work
Activity XXXX 02     Travel to and from work
Activity XXXX 02     Travel to and from work
Activity XXXX 02     Travel to and from work
Activity XXXX 02     Travel to and from work
Stage in family cycle XXXX Aged under 45, single, no children, living with parents
Stage in family cycle XXXX Aged under 45, single, no children, living elsewhere
Stage in family cycle XXXX Single parent
Stage in family cycle XXXX Aged under 45, married or cohabiting, no children
Stage in family cycle XXXX Married or cohabiting, youngest child aged 0-6
Stage in family cycle XXXX Married or cohabiting, youngest child aged 7-17
Stage in family cycle XXXX Aged over 45, married or cohibiting, no children
Stage in family cycle XXXX Aged over 45, single, no children
Men 1987-1988 XXXX 0.10
Men 1987-1988 XXXX 0.21
Men 1987-1988 XXXX .
Men 1987-1988 XXXX 0.24
Men 1987-1988 XXXX 0.26
Men 1987-1988 XXXX 0.23
Men 1987-1988 XXXX 0.13
Men 1987-1988 XXXX 0.06
Men 1999-2000 XXXX 0.06
Men 1999-2000 XXXX 0.20
Men 1999-2000 XXXX .
Men 1999-2000 XXXX 0.21
Men 1999-2000 XXXX 0.23
Men 1999-2000 XXXX 0.22
Men 1999-2000 XXXX 0.12
Men 1999-2000 XXXX 0.11
Men 2009-2010 XXXX 0.04
Men 2009-2010 XXXX 0.17
Men 2009-2010 XXXX .
Men 2009-2010 XXXX 0.21
Men 2009-2010 XXXX 0.26
Men 2009-2010 XXXX 0.25
Men 2009-2010 XXXX 0.09
Men 2009-2010 XXXX 0.11
Women 1987-1988 XXXX 0.07
Women 1987-1988 XXXX 0.21
Women 1987-1988 XXXX 0.19
Women 1987-1988 XXXX 0.25
Women 1987-1988 XXXX 0.11
Women 1987-1988 XXXX 0.19
Women 1987-1988 XXXX 0.08
Women 1987-1988 XXXX 0.05
Women 1999-2000 XXXX 0.04
Women 1999-2000 XXXX 0.17
Women 1999-2000 XXXX 0.16
Women 1999-2000 XXXX 0.2
Women 1999-2000 XXXX 0.13
Women 1999-2000 XXXX 0.2
Women 1999-2000 XXXX 0.11
Women 1999-2000 XXXX 0.05
Women 2009-2010 XXXX 0.04
Women 2009-2010 XXXX 0.16
Women 2009-2010 XXXX 0.17
Women 2009-2010 XXXX 0.2
Women 2009-2010 XXXX 0.14
Women 2009-2010 XXXX 0.22
Women 2009-2010 XXXX 0.1
Women 2009-2010 XXXX 0.05